#header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99999;
}
.navbar {
    border-radius:0px;
   
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color:#f7f7f7;
    border-color:#207A0F;
}
.navbar-default .navbar-brand {
  margin-left: 30px;
  margin-right:50px;
  height: 56px;
  font-size: 25px;
font-weight: 900;
color:#FFFFFF;
 
}
.navbar-default {
     background-color:#f7f7f7;
    border-color:#24441E;
}

.navbar-default:hover .navbar-brand:hover {
 
color:#FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
  color:black;
 
 
}
.navbar-default .navbar-nav > li > a:hover{
  padding: 20px 10px;
  font-size: 16px;
  line-height: 17px;
  color:#fff;
 
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}

