   <header id="header-nav" role="banner">
    <div id="navbar " class="navbar navbar-default"style="color:#0000FF">
        <div class="navbar-header">
            <a class="navbar-brand" href=""> <img src="assets/FLOJO.png" style="margin-top:-23px; height:75px; width:180px;" /></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav flot-nav">
                <li><a href="#slide-head"><i class="fa fa-home color-red"></i> Home</a></li>
                <li><a href="#about-section"><i class="fa fa-wrench color-brown"></i> About Us</a></li>
                <li><a href="#services-section"><i class="fa fa-check color-green"></i> Services</a></li>
                <li><a href="#portfolio-section"><i class="fa fa-picture-o color-light-blue"></i> Portfolio</a></li>
                <li><a href="#contact-section"><i class="fa fa-tint"></i> Contact</a></li>
            </ul>
        </div>
    </div>
    </header> 