<section id="contact-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " [ngsReveal]="{ reset: true}">
                <div class="text-center">
                    <h1><i class="fa fa-tint small-icons bk-color-black"></i>Contact us Now</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat.                       
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  margin-top-20">
                <div class="col-md-6  col-sm-12" [ngsReveal]="{ reset: true}">
                    <h3><i class="fa fa-pencil small-icons bk-color-light-blue"></i>Send Us Your Query</h3>
                    <hr />

<form  action="" method="POST" enctype="multipart/form-data">
<input type="hidden" name="action" value="submit">
Your name:<br>
<input name="name" type="text" value="" size="30"/><br>
Your email:<br>
<input name="email" type="text" value="" size="30"/><br>
Your message:<br>
<textarea name="message" rows="7" cols="30"></textarea><br>
<input type="submit" value="Send email"/>
</form>

                </div>
                <div class="col-md-4 col-md-offset-1  col-sm-12" [ngsReveal]="{ reset: true}">
                    <h3><i class="fa fa-comments small-icons bk-color-red"></i>Reach Us Here</h3>
                    <hr />
                    123, New york lane.<br />
                    Call: +23-00-89-009<br />
                    Email: info@yourdomain.com<br />
                    <h3><i class="fa fa-plus small-icons bk-color-green"></i>Social Presence</h3>
                    <a href="#"><i class="fa fa-facebook fa-3x color-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-3x color-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-3x color-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin fa-3x color-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest fa-3x color-pinterest"></i></a>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>
<!--END CONTACT SECTION -->
<!--FOOTER SECTION -->
<!-- <footer id="footer"> -->
  
<!-- </footer> -->


