<section id="about-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " [ngsReveal]="{ reset: true}">
                <div class="text-center">
                    <h1><i class="fa fa-wrench small-icons bk-color-brown"></i>About Us</h1>
                    <p class="lead">
                       {{AboutusText}}
                    </p>
                </div>

            </div>
            <!-- ./ Heading div-->
         
            
         </div>
        </div>
        
</section>