

<app-dashboardheader></app-dashboardheader>

    <div class="wrap-pad">
      <div class="row">
   <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " [ngsReveal]="{ reset: true}">
    <div class="text-center">
      <h1 style="margin-top: -30px;"><i class="fa fa-picture-o small-icons bk-color-light-blue"></i>Slider Images</h1>
      <label class="fileContainer">
         <button class=" btn button4"> <i class="fa fa-upload" aria-hidden="true">Upload Image</i></button>
        <input type="file" accept="image/*" multiple="" (change)='onFileSelected($event)' id='bannerImage1' [(ngModel)]="bannerImage1"/>
    </label>
      <button style="margin:-48px 0 0 10px;" (click)='Submit()' class="btn button4 "> submit </button>
     <div class="boader row" style="margin-top: 20px;" >
      <div *ngFor='let url of images; let i = index' #Element class="col-md-10 col-md-offset-1 col-sm-12 " style="margin-top:15px " [ngsReveal]="{ reset: true}" >
        <ul class="portfolio-items col-3">
            <li style="width: 100%;" class="portfolio-item ">
                <div class="item-main">
                  
                  <div class="portfolio-image">
 
                        <img class="img" [src]="url">
                        <button type="button" (click)='cancel(i)' style=" margin-top:-35px" class="btn close" data-dismiss="alert" aria-label="Close" >Remove</button> 
                       
                    </div>
                </div>
               
            </li>
        </ul>
    
          </div>
        </div>
          
</div></div></div>
        