

<div id="navbar " class="navbar navbar-default"style="color:#0000FF">
      <div class="navbar-header">
          <a class="navbar-brand" href=""> <img src="assets/FLOJO.png" style="margin-top:-23px; height:75px; width:180px;" /></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav ">
              <li><a href="dashboard"><i class="fa fa-home color-red"></i> Home</a></li>
              <li><a href="AboutUs"><i class="fa fa-wrench color-brown"></i> About Us</a></li>
              <li><a href="services"><i class="fa fa-check color-green"></i> Services</a></li>
              <li><a href="portfolio"><i class="fa fa-picture-o color-light-blue"></i> Portfolio</a></li>
             
          </ul>
          <ul class="nav navbar-nav navbar-right">
        
            <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
      </div>
  </div>
 



<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapse visible-xs-block pull-right" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="dashboard">DemoProject</a>
      </div>
      
     <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li > <a id="1"  href="dashboard">Home</a></li>
        <li ><a  id="2" href="AboutUs">AboutUs</a></li>
        <li ><a  href="services">Services</a></li>
        <li  ><a  href="portfolio">Portfolio</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
    </div>
  </nav>
   -->
