<app-dashboardheader></app-dashboardheader>
<!--PORTFOLIO SECTION -->
<section id="portfolio-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " [ngsReveal]="{ reset: true}">
                <div class="text-center">
                    <h1 style="margin-top: -20px;"><i class="fa fa-picture-o small-icons bk-color-light-blue"></i>Portfolio</h1>
                    <div  class="textarea centered"> 
                        <textarea class="form-control" [(ngModel)]='Text' name="Text"  rows="6">
                        </textarea>
                       </div> 
                </div>
            </div>
            <!-- ./ Heading div-->
          
            <div class="col-md-10 col-md-offset-1 col-sm-12" style="margin-top:30px " [ngsReveal]="{ reset: true}">
                <ul class="portfolio-items col-3">
                    <li class="portfolio-item ">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview1">
                               
                            </div>
                        </div>
                        <input  class= "btn upload-btn-wrapper" type='file' multiple="" (change)='onFileSelected($event)' id='bannerImage1' [(ngModel)]="bannerImage1"  />
                    </li>
                   
                    <li class="portfolio-item  ">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview2" >
                                
                            </div>
                           
                        
                        </div>
                        <input  class= "btn upload-btn-wrapper" type='file' multiple="" (change)='onFileSelected($event)' id='bannerImage2' [(ngModel)]="bannerImage2"  />
                    </li>
                    <li class="portfolio-item   ">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview3">
                               
                                </div>
                            </div>
                            <input  class= "btn upload-btn-wrapper" type='file' multiple="" (change)='onFileSelected($event)' id='bannerImage3' [(ngModel)]="bannerImage3" />
                        
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview4" >
                               
                            </div>
                            
                        
                        </div>
                        <input  class= "btn upload-btn-wrapper" type='file' multiple="" (change)='onFileSelected($event)' id='bannerImage4' [(ngModel)]="bannerImage4"  />
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview5" >
                                
                            </div>
                            
                        
                        </div>
                        <input  class= "btn upload-btn-wrapper" type='file' multiple="" (change)='onFileSelected($event)' id='bannerImage5' [(ngModel)]="bannerImage5" />
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview6" >
                                
                            </div>
                            
                        
                        </div>
                        <input  class= "btn upload-btn-wrapper" type='file' multiple="" (change)='onFileSelected($event)' id='bannerImage6' [(ngModel)]="bannerImage6" />
                    </li>
                    
                </ul>
                <div class=" col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1  text-center" style="margin-top:20px"  >
                    <button (click)='Submit()' class="btn btn-primary"> submit </button>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>

</section>
<!--END PORTFOLIO SECTION -->
