<!--PORTFOLIO SECTION -->
<section id="portfolio-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " [ngsReveal]="{ reset: true}">
                <div class="text-center">
                    <h1><i class="fa fa-picture-o small-icons bk-color-light-blue"></i>Portfolio</h1>
                    <p class="lead">
                       {{Text}}
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
          
            <div class="col-md-10 col-md-offset-1 col-sm-12" [ngsReveal]="{ reset: true}">
                <ul class="portfolio-items col-3">
                    <li class="portfolio-item ">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview1" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href=""><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>project</h5>
                        </div>
                    </li>
                   
                    <li class="portfolio-item  ">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview2" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href=''><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item   ">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview3" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big4.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview4" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big5.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview5" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big1.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img [src]="imagePreview6" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big2.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>

</section>
<!--END PORTFOLIO SECTION -->
