<app-dashboardheader></app-dashboardheader>
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " [ngsReveal]="{ reset: true}">
  <div class="text-center">
      <h1><i class="fa fa-wrench small-icons bk-color-brown"></i>About Us</h1>
      
        <div  class="textarea centered"> 
          <textarea class="form-control" [(ngModel)]='Text' name="Text"  rows="8">
          </textarea>
          <button (click)='Submit()' style="margin-top:15px" class="btn btn-primary"> submit </button>
  </div>
  
</div>
</div>

