<app-dashboardheader></app-dashboardheader>
<section id="services-section">
    <div class="wrap-pad" style="margin-top: -19px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " ngsReveal>
                <div class="text-center">
                    <h1 style="margin-top: -20px;"><i class="fa fa-check small-icons bk-color-green"></i>Services</h1>
                    
                        <div  class="textarea centered"> 
                            <textarea class="form-control" [(ngModel)]='Text' name="Text"  rows="6">
                            </textarea>
                           </div> 
                   
                </div>
            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-bolt icon-round bk-color-red"></i>
                        <input class= "form-control" [(ngModel)]='HeadingText1'/>
                        <textarea class="form-control space"  [(ngModel)]='Text1' name="Text"  rows="3">
                        </textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-comments icon-round bk-color-black"></i>
                        <input class= "form-control" [(ngModel)]='HeadingText2' />
                        <textarea class="form-control space"  [(ngModel)]='Text2' name="Text"  rows="3">
                        </textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-desktop icon-round bk-color-light-blue"></i>
                        <input class= "form-control" [(ngModel)]='HeadingText3' />
                        <textarea class="form-control space"  [(ngModel)]='Text3' name="Text"  rows="3">
                        </textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-flask icon-round bk-color-green"></i>
                        <input class= "form-control" [(ngModel)]='HeadingText4' />
                        <textarea class="form-control space"  [(ngModel)]='Text4' name="Text"  rows="3">
                        </textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-pencil icon-round bk-color-blue"></i>
                        <input class= "form-control"  [(ngModel)]='HeadingText5' />
                        <textarea class="form-control space" [(ngModel)]='Text5' name="Text"  rows="3">
                        </textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-thumbs-up icon-round bk-color-brown"></i>
                        <input class= "form-control"  [(ngModel)]='HeadingText6' />
                        <textarea class="form-control space"  [(ngModel)]='Text6' name="Text"  rows="3">
                        </textarea>
                        
                    </div>
                    
                </div>
                <div [ngsReveal]="{ reset: true}" class=" col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1  text-center" style="margin-top:20px"  >
                    <button (click)='Submit()' class="btn btn-primary"> submit </button>
                </div>
               
            </div>
            
            
            <!-- ./ Content div-->
        </div>
    </div>
</section>