<!--SERVICES SECTION -->
<section id="services-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " [ngsReveal]="{ reset: true}" >
                <div class="text-center">
                    <h1><i class="fa fa-check small-icons bk-color-green"></i>{{ServicesHeading}}</h1>
                    <p class="lead">
                       {{Text}}                       
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-bolt icon-round bk-color-red"></i>
                        <h4> {{HeadingText1}} </h4>
                        <p>
                            {{Text1}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-comments icon-round bk-color-black"></i>
                        <h4> {{HeadingText2}}</h4>
                        <p>
                            {{Text2}} 
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-desktop icon-round bk-color-light-blue"></i>
                        <h4> {{HeadingText3}}</h4>
                        <p>
                           {{Text3}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-flask icon-round bk-color-green"></i>
                        <h4> {{HeadingText4}}</h4>
                        <p>
                           {{Text4 }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-pencil icon-round bk-color-blue"></i>
                        <h4> {{HeadingText5}}</h4>
                        <p>
                           {{Text5}}
                           
                    
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" [ngsReveal]="{ reset: true}">
                    <div class="text-center">
                        <i class="fa fa-thumbs-up icon-round bk-color-brown"></i>
                        <h4>{{HeadingText6}}</h4>
                        <p>
                             {{Text6}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>