
 <section id="slide-head" class="carousel top ">
    <div   class="carousel-inner">  
        
          <div *ngFor='let image of imgURL; let i= index' [ngClass]="{'active': i==0  }"  class="item"  [ngsReveal]="{ reset: true}">
<img  [src]='image'/>
            <div class="container">
                <div class="carousel-content">
                    <h1></h1>
                    <p class="lead">
                       
                    </p>
                </div>
            </div>
        </div>
        

    </div>
    <a class="prev" href="#slide-head" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next" href="#slide-head" data-slide="next"><i class="fa fa-angle-right"></i></a>
</section>
